{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% block title %}Заказ{% endblock %}

{% load i18n %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">

                        <form action="" method="post">
                            {% csrf_token %}
                            {% block step %}
                            {% endblock %}
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <p style="color: #840a10">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}


                            <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Дальше
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}